.b-icon{
    font-size: calc(1.3rem + 1.5vw);
    margin: 15px;
    color: var(--color-blue);
    text-shadow: 3px 3px 4px var(--color-shadow);

    &--xl{
        font-size: 5rem;
    }

    &:hover{
        color: var(--color-white);
        -webkit-transition: 0.25s;
        transition: 0.3s;
        font-size: calc(1.3rem + 1.8vw);
        margin: 12px;
    }

}