$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-twitch-1-path1: "\e900";
$icon-twitch-1-path2: "\e901";
$icon-twitch-1-path3: "\e902";
$icon-twitch-1-path4: "\e903";
$icon-twitch-1-path5: "\e904";
$icon-twitch-1-path6: "\e905";
$icon-facebook-circular-logo: "\e906";
$icon-github: "\e907";
$icon-instagram: "\e908";
$icon-linkedin: "\e909";
$icon-twitter: "\e90a";
$icon-search: "\e986";

