.c-about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 7vh;
  color: var(--color-white);
  background-image: url(../../assets/images/city-wallpaper.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 93vh;

  &__photo {
    background-image: url(../../assets/images/Sulo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9vh;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    box-shadow: 4px 3px 2px var(--color-shadow);
  }

  &__title {
    font-family: 'Press Start 2P';
    margin-top: 20vh;
    font-size: 2.8vw;
    color: var(--color-yellow);
    -webkit-text-stroke: 2px var(--color-black);
    text-shadow: 5px 4px 4px var(--color-black-2);
  }

  &__select {
    position: absolute;
    bottom: 17vh;
    width: 6%;
    display: none;
    margin-right: 10px;
  }

  &__things {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50px;
    width: 90%;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 145px;

    &:hover {
      background-color: var(--color-black-2);
      border: 0px solid var(--color-shadow);
      border-radius: 20px;
      box-shadow: 5px 2px 1px var(--color-shadow-2);

      .c-about__select {
        display: inline;
      }
    }
  }

  &__pixel {
    &:hover {
      cursor: pointer;
      position: relative;
      animation-duration: 0.5s;
      animation-name: jump;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      .c-about__descript {
        width: 100%;
      }
    }

    &--1 {
      padding-top: 8px;
      width: 7vw;
      height: 7.5vw;
    }

    &--2 {
      margin-top: 10vh;
      width: 8.6vw;
      height: 3.1vw;
    }

    &--3 {
      margin-top: 10vh;
      width: 4.6vw;
      height: 2.6vw;
    }

    &--4 {
      margin-top: 7.5vh;
      width: 4.6vw;
      height: 4.4;
    }

    &--5 {
      margin-top: 2.5vh;
      width: 7vw;
      height: 6.5vw;
    }

    &--6 {
      margin-top: 6.5vh;
      width: 4.6vw;
      height: 4.6vw;
    }
  }

  &__info {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 60px;
    background-color: var(--color-blue-shadow);
    box-shadow: 4px 3px 3px var(--color-shadow);
  }

  &__hobbies {
    margin: 30px;
    text-align: initial;
    width: 75%;
    font-size: 1.5vw;
    font-weight: 700;
  }
}
