:root{
    --color-white: #FFFFFF;
    --color-transparent: #fffffff3;
    --color-background: rgb(252, 252, 252);
    --color-black: #000000;
    --color-blue: rgb(94, 176, 243);
    --color-yellow: #FFED7D;
    --color-shadow: rgba(0, 0, 0, 0.603);
    --color-shadow-2: rgba(0, 0, 0, 0.315);
    --color-shadow-3: rgba(0, 0, 0, 0.178);
}

