:root{
    --color-white: #FFFFFF;
    --color-transparent: #eeeeee60;
    --color-transparent-2: #eeeeee00;
    --color-background: rgb(252, 252, 252);
    --color-black: #000000;
    --color-black-2: #000000d2;
    --color-blue: rgb(94, 176, 243);
    --color-blue-shadow: rgba(94, 176, 243, 0.87);
    --color-yellow: #f1de5f;
    --color-shadow: rgba(0, 0, 0, 0.603);
    --color-shadow-2: rgba(0, 0, 0, 0.315);
    --color-shadow-3: rgba(0, 0, 0, 0.178);
}

