.c-exp{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 6vh;
    color: var(--color-blue);
    background-image: url(../../assets/images/city-wallpaper.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    &__title{
        color: var(--color-white);
        font-size: 3vw;
        -webkit-text-stroke: 1px var(--color-black);
    }

    &__portfolio{
        width: 55px;
        position: relative;
        top: 1vh;
        left: 1vw;
    }

    &__works{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
        width: 70%;
    }

    &__business{
        font-family: 'Press Start 2P';
        margin-top:15vh;
        font-size: 1.8rem;
        color: var(--color-yellow);
        -webkit-text-stroke: 2px var(--color-black);
        text-shadow: 5px 4px 4px var(--color-black-2);
    }


    &__jobs{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--color-blue-shadow);
        border-radius: 25px;
        width: 40%;
        box-shadow: 4px 3px 3px var(--color-shadow);
        list-style-type: none;
    }

    & li{
        font-weight: 700;
        color: var(--color-white);
        margin: 10px 0;
        font-size: 20px;
    }
}